<div class="all-bg">
  <%= render "shared/header" %>

  <%# 国一覧 %>
  <div class="search">
    <div class="left-c">
      <li class="li-c"><%=link_to 'アメリカ', new_country_path, class:"america" %></li>
      <li class="li-c"><%=link_to '中国（準備中）', root_path, class:"china" %></li>
      <li class="li-c"><%=link_to '韓国（準備中）', root_path, class:"corea" %></li>
    </div>
    <div class="right-c">
      <li class="li-c"><%=link_to 'マレーシア（準備中）', root_path, class:"malaysia" %></li>
      <li class="li-c"><%=link_to 'タイ（準備中）', root_path, class:"thailand" %></li>
      <li class="li-c"><%=link_to 'フィリピン（準備中）', root_path, class:"philippines" %></li>
    </div>
  </div>

  <%# 人気旅行先 %>
  <div class='favorite'>
    <h2 class="title">
      人気旅行先
    </h2>
    <ul class='favorite-lists'>
      <li class='list'>
        <%= image_tag "favorite-1.png", class:"list-pic" %>
        <span class='list-number'>1</span>
        <h3 class='list-text'>
          <span class='list-blue-text'>グアム</span>
          （アメリカ）
        </h3>
        <p class='list-description'>
          世界中から観光客が集まる観光地！　ビーチだけでなく、隠れた魅力がたくさん詰まっています！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "favorite-2.png", class:"list-pic" %>
        <span class='list-number'>2</span>
        <h3 class='list-text'>
          <span class='list-blue-text'>ソウル</span>
          （韓国）
        </h3>
        <p class='list-description'>
          近代的な超高層ビルやハイテクな地下鉄、ポップ カルチャーと、仏教寺院、古宮、昔ながらの露天市が混在する、巨大なメトロポリスです！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "favorite-3.png", class:"list-pic" %>
        <span class='list-number'>3</span>
        <h3 class='list-text'>
          <span class='list-blue-text'>バンコク</span>
          （タイ）
        </h3>
        <p class='list-description'>
          物価が安く治安も悪くないことから世界中の旅行者が訪れるタイの首都。毎年2000万人もの外国人観光客が訪れており、「世界航行先ランキング」では2016年より3年連続で世界一となっています！
        </p>
      </li>
    </ul>
  </div>

    <%= render "shared/footer" %>
</div>